.App {
  text-align: center;
}

body {
  background-color: #e8d5aa;
  margin: 0;
  padding: 0;
}

.innercontainer {
  max-width: 1200px;
  margin: 20px auto;
  padding: 30px;
  background-color: #dedede25;
}

.cell-container {
  display: flex;
  flex-wrap: wrap;
}

.cellsGroup {
  display: flex;
  flex-wrap: nowrap;
  border: 3px;
  padding: 1px 2px;
  margin: 0 -2px;
  border-style: solid;
  border-color: #cf2e27;
  position: relative;
  border-radius: 12px;
}

.timeLabel {
  font-size: 0.9rem;
  font-weight: 700;
  color: #00000073;
  margin-left: 5px;
}

.groupContainer {
  margin: 1px;
}

.cell {
  width: 40px;
  height: 40px;
  background-color: rgb(170, 170, 170);
  margin: 1px;
  position: relative;
}

.cellsGroup .cell:first-child, .cellsGroup .cell:first-child > .overlay, .cellsGroup .cell:first-child > .innerCellContainer {
  border-radius: 10px 0 0 10px;
}

.cellsGroup .cell:last-child, .cellsGroup .cell:last-child > .overlay, .cellsGroup .cell:last-child > .innerCellContainer {
  border-radius: 0 10px 10px 0;
}

.innerCellContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  pointer-events: none;
}

.innercell {
  height: 100%;
  position: absolute;
  pointer-events: none;
}

.overlay {
  pointer-events: none;
  animation: grow-shrink 0.2s ease-in-out;
}

@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  100% {
    transform: scale(1);
  }
}

.toolbar {
  position: relative;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  padding: 0 1em;
  z-index: 100;
  height: 10vh;
}

.cell-render-container {
  height: 90vh;
  overflow: scroll;
}